import { defineConfig } from 'vite';
import react from '@vitejs/plugin-react';
{{#typescript}}
import path from 'path';
{{/typescript}}

// https://vitejs.dev/config/
export default defineConfig({
  plugins: [react()],
  {{#typescript}}
  resolve: {
    alias: {
      '@': path.resolve(__dirname, './src'),
    },
  },
  {{/typescript}}
});
